.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.toggleIcon {
  position: relative;
  top: 40px;
  right: -140px;
}

.toggleIcon:hover {
  cursor: pointer;
}

.btn-primary {
  background-color: #003951 !important;
  border-color: #003951 !important;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: #005174 !important;
  border-color: #005174 !important;
}

.lightBlue {
  color: #00caf2 !important;
}

.bg-lightBlue {
  background-color: #00caf2 !important;
}

.darkBlue {
  color: #003951 !important;
}

.bg-darkBlue {
  background-color: #003951 !important;
}

.white {
  color: #EDF5F7 !important;
}

.bg-selected {
  background-color: #dfe8eb !important;
}

.bg-white {
  background-color: #EDF5F7 !important;
}

.space {
  padding-bottom: 5em !important;
}

.clickable:hover {
  text-decoration: none !important;
  cursor: pointer !important; 
}

.notificationArrow {
  color: black !important;
  user-select: none !important;
}

.notificationArrow:hover {
  color: black !important;  
  text-decoration: none !important;
  cursor: pointer !important; 
}

.filter {
  font-size: 1.2rem !important;
  position: sticky !important;
  top: 100px !important;
  display: inline-block !important;
}

.sticky {
  position: sticky !important;
  top: 0 !important;
  z-index: 1 !important;
}

.active {
  background-color: #005174;
}

table.table-bordered {
  border:1px solid black;
}

table.table-bordered > thead > tr > th {
  border:1px solid black;
  background-color: #bed1d8;
}

table.table-bordered > tbody > tr > td {
  border:1px solid black;
}